* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: rgb(150, 236, 208);
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(248, 228, 115);
}
.nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.nav li{
    margin-right: 20px;
}

button{
    border-radius: 50px;
    border-width: 4px;
    padding: 10px;
    border-color: aquamarine;
    background-color: bisque;
    font-weight: bolder;
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.welcomepara{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.welcomepara p{
    margin-top: 20px;
}
.mainyotsubaimg{
    border-radius: 50%;
    height: 100%;
    width: 70%;
    object-fit: cover;
}
/*other page*/
.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
    max-width: 300px;
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10%;


}
.card img{
    width:100%;
    height: auto;
    display: block;
    border-bottom: 2px solid black;
}
.card.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
    border: none;

}
.card.text p{
    padding: 5px;
}
